*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif; 
    box-sizing: border-box;
}

*:before, *:after { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}

html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    box-sizing: border-box;    

}

/* Tablet and Mobile :1px~413px*/
@media  (min-width:1px) and (max-width:413px) { 

  body {
      margin: 0;
      padding: 0;
      height: 1276px;
    
    }
  
    .inner {
      /* width: 70%; */
      margin: 0 auto;
    }
    
    /* 헤더 세팅 */
    header {
      width: 100%;
      background-color: #fff;
    }
    header > .inner {
      height: 120px;
      position: relative;
    }
    header a {
      height: 90px;
      position: absolute;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      /* top: 0;
      bottom: 0;
      left: 0;
      margin: auto; */
      
    }
    header .sub-menu {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: none;

    }

    header .sub-menu ul {
      list-style: none;
      /* display: flex; */
    }
    /* 
    header .sub-menu ul li {
      margin-right: 50px;
    } */
    
    /* 첫번째 섹션 */
    .full-width-div01 {
      width: 100%;
      background-color: rgb(0,0,0,6);
      margin: auto;
      color: #FFFFFF;
      padding: 10px 0px 10px 0px;
      border-radius: 15px 15px 0px 0px;
  
    }
    .full-width-div01 .inner {
      padding: 25px 0px;
      text-align: center;
  
      /* background-color: yellow; */
    }
    
    /* 두번째 섹션 */
    .main-form {
  
      max-width: 100%;
      background-image: url(saiyou.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      
    }
    .main-form .inner {
      width: 840px;
      height: 980px;
      background-color: rgb(0,0,0,0.4);
      margin: auto;
  
    }
  
    form{
      padding-top: 40px;
      padding-left: 70px;
      padding-right: 70px;
      padding-bottom: 40px;
  
    }
  
    #namae{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
  
    }
  
    .namae01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
      font-weight: 500;
  
      color:#f5f5eb;
  
      /* background-color:yellow; */
  
    }
  
    .namae02{
      margin-left: 10px;
      margin-bottom: 10px;
      color:#cc1100;
  
      /* background-color: green; */
  
    }
    
    #name_1{
      position: relative;
      left: 270px;
      top:-42px;
      line-height: 40px;
      border-radius: 6px;
  
      width: 200px;
      font-size: 16px;
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #name_2{
      position: relative;
      left: 300px;
      top: -42px;
      line-height: 40px;
      border-radius: 6px;
  
      width: 200px;
      font-size: 16px;
      color: #555;
      border: 3px solid #89949b;
      
      /* background-color: greenyellow; */
  
    }
  
    #hurigana{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
  
    }
  
    .hurigana01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
      font-weight: 500;
  
      color:#f5f5eb;
  
      /* background-color:yellow; */
  
    }
  
    .hurigana02{
  
      margin-left: 10px;
      margin-bottom: 10x;
      color:#cc1100;
  
    }
  
    #read_1{
      position: relative;
      left: 270px;
      top:-42px;
      line-height: 40px;
      border-radius: 6px;
    
      width: 200px;
      font-size: 16px;
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #read_2{
      position: relative;
      left: 300px;
      top: -42px;
      line-height: 40px;
      border-radius: 6px;
  
      width: 200px;
      font-size: 16px;
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #seinen{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
  
    }
  
    .seinen01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
    
      color:#f5f5eb;
  
    }
  
    .seinen02{
  
      margin-left: 10px;
      margin-bottom: 10x;
      color:#cc1100;
  
      /* background-color: green; */
    }
  
    .seinen03{
      margin-left: 165px;
      margin-bottom: 10x;
      color: #555;
  
      /* background-color: green; */
    }
  
    .seinen04{
      margin-left: 145px;
      margin-bottom: 10x;
      color: #555;
  
      /* background-color: green; */
    }
  
    .seinen05{
      margin-left: 145px;
      margin-bottom: 10x;
      color: #555;
  
      /* background-color: green; */
    }
  
    #yearSelect{
      position: relative;
      left: 270px;
      top:-40px;
  
      width: 80px;
      height: 40px;
      border-radius: 6px;
  
      font-size: 16px;
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #monthSelect{
      position: relative;
      left: 332.5px;
      top:-40px;
  
      width: 80px;
      height: 40px;
      border-radius: 6px;
  
      font-size: 16px;
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #daySelect{
      position: relative;
      left: 395px;
      top:-40px;
  
      width: 80px;
      height: 40px;
      border-radius: 6px;
  
      font-size: 16px;
      color: #555;
      border: 3px solid #89949b;
      
    }
  
    #mail{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
      
    }
  
    .mail01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      
      font-size: 18px;
   
  
      color:#f5f5eb;
  
    }
  
    .mail02{
  
      margin-left: 10px;
      margin-bottom: 10x;
      color:#cc1100;
  
    }
  
    #mail_address{
      position: relative;
      left: 270px;
      top:-42px;
      line-height: 40px;
      border-radius: 6px;
      
      width: 430px;
      font-size: 16px;
  
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #telephone{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
      
    }
  
    .telephone01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
   
  
      color:#f5f5eb;
  
      /* background-color:yellow; */
      
    }
  
    .telephone02{
  
      margin-left: 10px;
      margin-bottom: 10x;
      color:#cc1100;
  
    }
  
    #phone{
      position: relative;
      left: 270px;
      top:-42px;
      line-height: 40px;
      border-radius: 6px;
     
      width: 430px;
      font-size: 16px;
  
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #postNumber{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow;  */
      
    }
  
    .postNumber01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
   
    
      color:#f5f5eb;
  
      /* background-color:yellow; */
      
    }
  
    .postNumber02{
  
      margin-left: 10px;
      margin-bottom: 10x;
      color:#cc1100;
  
      /* background-color: green; */
  
    }
  
    #postal{
      position: relative;
      left: 270px;
      top:-42px;
      line-height: 40px;
      border-radius: 6px;
      
      width: 215px;
      font-size: 16px;
  
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #searchPost{
      position: relative;
      left: 300px;
      top: -41px;
      line-height: 40px;
      font-size: 16px;
  
    }
  
    #writingAddress{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
      
    }
  
    .writingAddress01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
  
      color:#f5f5eb;
  
  
      /* background-color:yellow; */
      
    }
  
    .writingAddress02{
      margin-left: 10px;
      margin-bottom: 10x;
      color:#cc1100;
  
      /* background-color: green; */
  
    }
  
    #address{
      position: relative;
      left: 270px;
      top:-42px;
      line-height: 40px;
      border-radius: 6px;
    
      width: 430px;
      font-size: 16px;
  
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #keiken{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
      
    }
  
    .keiken01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
  
      
      color:#f5f5eb;
  
      /* background-color:yellow; */
      
    }
  
    .keiken02{
  
      margin-left: 10px;
      margin-bottom: 10x;
      color:#0d2f73;
  
      /* background-color: green; */
  
    }
  
    #product{
      position: relative;
      left: 270px;
      top: -42px;
  
      width: 512px;
      height: 42px;
      
      border-radius: 6px;
      width: 430px;
      font-size: 16px;
      
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #question{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
      
    }
  
    .question01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
  
      color:#f5f5eb;
  
      /* background-color:yellow; */
      
    }
  
    .question02{
  
      margin-left: 10px;
      margin-bottom: 10x;
      color:#0d2f73;
  
      /* background-color: green; */
  
    }
  
    #mail_contents{
      position: relative;
      left: 270px;
      top:-42px;
      line-height: 35px;
      border-radius: 6px;
  
      width: 430px;
      font-size: 16px;
  
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    .mailBox{
      height: 160px;
  
    }
  
    #jyouhou{
      width: 100%;
      text-align: center;
      color:#f5f5eb;
  
      /* background-color: red; */
  
    }
  
    #johou{
  
      padding: 0 20px;
  
    }
  
    #form_submit{
      text-align: center;
      margin-top: 32.5px;
      display: block;
  
    }
  
    #form_submit_button{
      background-color: ghostwhite;
      border-radius: 12px;
      border: 1.5px solid #89949b;
      padding: 12px 36px;
      outline: none;
      color: #555;
      cursor: pointer;
      /* transition: 0.25px; */
  
      font-size: 18px;
  
    }
  
    #form_submit_button:hover{
      /* background-color: #6ab8ee;  */
      padding: 14px 40px;
      border-radius: 12px;
      font-weight: 600;
  
      transition: 0.5px;
      transition: width 0.5s;
  
    }
  
  
    /* footer섹션 마지막 꾸미기 */
     
    .full-width-div02 {
      width: 100%;
      background-color: rgb(0,0,0,6);
      margin: auto;
      /* color: #FFFFFF; */
      padding: 10px 0px 10px 0px;
      border-radius: 0px 0px 20px 20px;
      
    }
    .full-width-div02 .inner {
      padding: 35px 0px;
      text-align: center;
  
      /* background-color: yellow; */
    }
  
  }

/* Tablet and Mobile :414px~767px*/
@media  (min-width:414px) and (max-width:767px) { 

  body {
      margin: 0;
      padding: 0;
      height: 1276px;
    
    }
  
    .inner {
      /* width: 70%; */
      margin: 0 auto;
    }
    
    /* 헤더 세팅 */
    header {
      width: 100%;
      background-color: #fff;
    }
    header > .inner {
      height: 120px;
      position: relative;
    }
    header a {
      height: 90px;
      position: absolute;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      /* top: 0;
      bottom: 0;
      left: 0;
      margin: auto; */
      
    }
    header .sub-menu {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: none;

    }

    header .sub-menu ul {
      list-style: none;
      /* display: flex; */
    }
    /* 
    header .sub-menu ul li {
      margin-right: 50px;
    } */
    
    /* 첫번째 섹션 */
    .full-width-div01 {
      width: 100%;
      background-color: rgb(0,0,0,6);
      margin: auto;
      color: #FFFFFF;
      padding: 10px 0px 10px 0px;
      border-radius: 15px 15px 0px 0px;
  
    }
    .full-width-div01 .inner {
      padding: 25px 0px;
      text-align: center;
  
      /* background-color: yellow; */
    }
    
    /* 두번째 섹션 */
    .main-form {
  
      max-width: 100%;
      background-image: url(saiyou.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      
    }
    .main-form .inner {
      width: 840px;
      height: 980px;
      background-color: rgb(0,0,0,0.4);
      margin: auto;
  
    }
  
    form{
      padding-top: 40px;
      padding-left: 70px;
      padding-right: 70px;
      padding-bottom: 40px;
  
    }
  
    #namae{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
  
    }
  
    .namae01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
      font-weight: 500;
  
      color:#f5f5eb;
  
      /* background-color:yellow; */
  
    }
  
    .namae02{
      margin-left: 10px;
      margin-bottom: 10px;
      color:#cc1100;
  
      /* background-color: green; */
  
    }
    
    #name_1{
      position: relative;
      left: 270px;
      top:-42px;
      line-height: 40px;
      border-radius: 6px;
  
      width: 200px;
      font-size: 16px;
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #name_2{
      position: relative;
      left: 300px;
      top: -42px;
      line-height: 40px;
      border-radius: 6px;
  
      width: 200px;
      font-size: 16px;
      color: #555;
      border: 3px solid #89949b;
      
      /* background-color: greenyellow; */
  
    }
  
    #hurigana{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
  
    }
  
    .hurigana01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
      font-weight: 500;
  
      color:#f5f5eb;
  
      /* background-color:yellow; */
  
    }
  
    .hurigana02{
  
      margin-left: 10px;
      margin-bottom: 10x;
      color:#cc1100;
  
    }
  
    #read_1{
      position: relative;
      left: 270px;
      top:-42px;
      line-height: 40px;
      border-radius: 6px;
    
      width: 200px;
      font-size: 16px;
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #read_2{
      position: relative;
      left: 300px;
      top: -42px;
      line-height: 40px;
      border-radius: 6px;
  
      width: 200px;
      font-size: 16px;
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #seinen{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
  
    }
  
    .seinen01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
    
      color:#f5f5eb;
  
    }
  
    .seinen02{
  
      margin-left: 10px;
      margin-bottom: 10x;
      color:#cc1100;
  
      /* background-color: green; */
    }
  
    .seinen03{
      margin-left: 165px;
      margin-bottom: 10x;
      color: #555;
  
      /* background-color: green; */
    }
  
    .seinen04{
      margin-left: 145px;
      margin-bottom: 10x;
      color: #555;
  
      /* background-color: green; */
    }
  
    .seinen05{
      margin-left: 145px;
      margin-bottom: 10x;
      color: #555;
  
      /* background-color: green; */
    }
  
    #yearSelect{
      position: relative;
      left: 270px;
      top:-40px;
  
      width: 80px;
      height: 40px;
      border-radius: 6px;
  
      font-size: 16px;
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #monthSelect{
      position: relative;
      left: 332.5px;
      top:-40px;
  
      width: 80px;
      height: 40px;
      border-radius: 6px;
  
      font-size: 16px;
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #daySelect{
      position: relative;
      left: 395px;
      top:-40px;
  
      width: 80px;
      height: 40px;
      border-radius: 6px;
  
      font-size: 16px;
      color: #555;
      border: 3px solid #89949b;
      
    }
  
    #mail{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
      
    }
  
    .mail01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      
      font-size: 18px;
   
  
      color:#f5f5eb;
  
    }
  
    .mail02{
  
      margin-left: 10px;
      margin-bottom: 10x;
      color:#cc1100;
  
    }
  
    #mail_address{
      position: relative;
      left: 270px;
      top:-42px;
      line-height: 40px;
      border-radius: 6px;
      
      width: 430px;
      font-size: 16px;
  
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #telephone{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
      
    }
  
    .telephone01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
   
  
      color:#f5f5eb;
  
      /* background-color:yellow; */
      
    }
  
    .telephone02{
  
      margin-left: 10px;
      margin-bottom: 10x;
      color:#cc1100;
  
    }
  
    #phone{
      position: relative;
      left: 270px;
      top:-42px;
      line-height: 40px;
      border-radius: 6px;
     
      width: 430px;
      font-size: 16px;
  
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #postNumber{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow;  */
      
    }
  
    .postNumber01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
   
    
      color:#f5f5eb;
  
      /* background-color:yellow; */
      
    }
  
    .postNumber02{
  
      margin-left: 10px;
      margin-bottom: 10x;
      color:#cc1100;
  
      /* background-color: green; */
  
    }
  
    #postal{
      position: relative;
      left: 270px;
      top:-42px;
      line-height: 40px;
      border-radius: 6px;
      
      width: 215px;
      font-size: 16px;
  
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #searchPost{
      position: relative;
      left: 300px;
      top: -41px;
      line-height: 40px;
      font-size: 16px;
  
    }
  
    #writingAddress{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
      
    }
  
    .writingAddress01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
  
      color:#f5f5eb;
  
  
      /* background-color:yellow; */
      
    }
  
    .writingAddress02{
      margin-left: 10px;
      margin-bottom: 10x;
      color:#cc1100;
  
      /* background-color: green; */
  
    }
  
    #address{
      position: relative;
      left: 270px;
      top:-42px;
      line-height: 40px;
      border-radius: 6px;
    
      width: 430px;
      font-size: 16px;
  
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #keiken{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
      
    }
  
    .keiken01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
  
      
      color:#f5f5eb;
  
      /* background-color:yellow; */
      
    }
  
    .keiken02{
  
      margin-left: 10px;
      margin-bottom: 10x;
      color:#0d2f73;
  
      /* background-color: green; */
  
    }
  
    #product{
      position: relative;
      left: 270px;
      top: -42px;
  
      width: 512px;
      height: 42px;
      
      border-radius: 6px;
      width: 430px;
      font-size: 16px;
      
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #question{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
      
    }
  
    .question01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
  
      color:#f5f5eb;
  
      /* background-color:yellow; */
      
    }
  
    .question02{
  
      margin-left: 10px;
      margin-bottom: 10x;
      color:#0d2f73;
  
      /* background-color: green; */
  
    }
  
    #mail_contents{
      position: relative;
      left: 270px;
      top:-42px;
      line-height: 35px;
      border-radius: 6px;
  
      width: 430px;
      font-size: 16px;
  
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    .mailBox{
      height: 160px;
  
    }
  
    #jyouhou{
      width: 100%;
      text-align: center;
      color:#f5f5eb;
  
      /* background-color: red; */
  
    }
  
    #johou{
  
      padding: 0 20px;
  
    }
  
    #form_submit{
      text-align: center;
      margin-top: 32.5px;
      display: block;
  
    }
  
    #form_submit_button{
      background-color: ghostwhite;
      border-radius: 12px;
      border: 1.5px solid #89949b;
      padding: 12px 36px;
      outline: none;
      color: #555;
      cursor: pointer;
      /* transition: 0.25px; */
  
      font-size: 18px;
  
    }
  
    #form_submit_button:hover{
      /* background-color: #6ab8ee;  */
      padding: 14px 40px;
      border-radius: 12px;
      font-weight: 600;
  
      transition: 0.5px;
      transition: width 0.5s;
  
    }
  
  
    /* footer섹션 마지막 꾸미기 */
     
    .full-width-div02 {
      width: 100%;
      background-color: rgb(0,0,0,6);
      margin: auto;
      /* color: #FFFFFF; */
      padding: 10px 0px 10px 0px;
      border-radius: 0px 0px 20px 20px;
      
    }
    .full-width-div02 .inner {
      padding: 35px 0px;
      text-align: center;
  
      /* background-color: yellow; */
    }
  
  }

/* Tablet and Mobile :768px~839px*/
@media  (min-width:768px) and (max-width:839px) { 

  body {
      margin: 0;
      padding: 0;
      height: 1276px;
    
    }
  
    .inner {
      /* width: 70%; */
      margin: 0 auto;
    }
    
    /* 헤더 세팅 */
    header {
      width: 100%;
      background-color: #fff;
    }
    header > .inner {
      height: 120px;
      position: relative;
    }
    header a {
      height: 90px;
      position: absolute;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      /* top: 0;
      bottom: 0;
      left: 0;
      margin: auto; */
      
    }
    header .sub-menu {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }

    header .sub-menu ul {
      list-style: none;
      /* display: flex; */
    }
    
    /* 
    header .sub-menu ul li {
      margin-right: 50px;
    } */
    
    /* 첫번째 섹션 */
    .full-width-div01 {
      width: 100%;
      background-color: rgb(0,0,0,6);
      margin: auto;
      color: #FFFFFF;
      padding: 10px 0px 10px 0px;
      border-radius: 15px 15px 0px 0px;
  
    }
    .full-width-div01 .inner {
      padding: 25px 0px;
      text-align: center;
  
      /* background-color: yellow; */
    }
    
    /* 두번째 섹션 */
    .main-form {
  
      max-width: 100%;
      background-image: url(saiyou.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      
    }
    .main-form .inner {
      width: 840px;
      height: 980px;
      background-color: rgb(0,0,0,0.4);
      margin: auto;
  
    }
  
    form{
      padding-top: 40px;
      padding-left: 70px;
      padding-right: 70px;
      padding-bottom: 40px;
  
    }
  
    #namae{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
  
    }
  
    .namae01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
      font-weight: 500;
  
      color:#f5f5eb;
  
      /* background-color:yellow; */
  
    }
  
    .namae02{
      margin-left: 10px;
      margin-bottom: 10px;
      color:#cc1100;
  
      /* background-color: green; */
  
    }
    
    #name_1{
      position: relative;
      left: 270px;
      top:-42px;
      line-height: 40px;
      border-radius: 6px;
  
      width: 200px;
      font-size: 16px;
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #name_2{
      position: relative;
      left: 300px;
      top: -42px;
      line-height: 40px;
      border-radius: 6px;
  
      width: 200px;
      font-size: 16px;
      color: #555;
      border: 3px solid #89949b;
      
      /* background-color: greenyellow; */
  
    }
  
    #hurigana{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
  
    }
  
    .hurigana01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
      font-weight: 500;
  
      color:#f5f5eb;
  
      /* background-color:yellow; */
  
    }
  
    .hurigana02{
  
      margin-left: 10px;
      margin-bottom: 10x;
      color:#cc1100;
  
    }
  
    #read_1{
      position: relative;
      left: 270px;
      top:-42px;
      line-height: 40px;
      border-radius: 6px;
    
      width: 200px;
      font-size: 16px;
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #read_2{
      position: relative;
      left: 300px;
      top: -42px;
      line-height: 40px;
      border-radius: 6px;
  
      width: 200px;
      font-size: 16px;
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #seinen{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
  
    }
  
    .seinen01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
    
      color:#f5f5eb;
  
    }
  
    .seinen02{
  
      margin-left: 10px;
      margin-bottom: 10x;
      color:#cc1100;
  
      /* background-color: green; */
    }
  
    .seinen03{
      margin-left: 165px;
      margin-bottom: 10x;
      color: #555;
  
      /* background-color: green; */
    }
  
    .seinen04{
      margin-left: 145px;
      margin-bottom: 10x;
      color: #555;
  
      /* background-color: green; */
    }
  
    .seinen05{
      margin-left: 145px;
      margin-bottom: 10x;
      color: #555;
  
      /* background-color: green; */
    }
  
    #yearSelect{
      position: relative;
      left: 270px;
      top:-40px;
  
      width: 80px;
      height: 40px;
      border-radius: 6px;
  
      font-size: 16px;
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #monthSelect{
      position: relative;
      left: 332.5px;
      top:-40px;
  
      width: 80px;
      height: 40px;
      border-radius: 6px;
  
      font-size: 16px;
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #daySelect{
      position: relative;
      left: 395px;
      top:-40px;
  
      width: 80px;
      height: 40px;
      border-radius: 6px;
  
      font-size: 16px;
      color: #555;
      border: 3px solid #89949b;
      
    }
  
    #mail{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
      
    }
  
    .mail01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      
      font-size: 18px;
   
  
      color:#f5f5eb;
  
    }
  
    .mail02{
  
      margin-left: 10px;
      margin-bottom: 10x;
      color:#cc1100;
  
    }
  
    #mail_address{
      position: relative;
      left: 270px;
      top:-42px;
      line-height: 40px;
      border-radius: 6px;
      
      width: 430px;
      font-size: 16px;
  
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #telephone{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
      
    }
  
    .telephone01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
   
  
      color:#f5f5eb;
  
      /* background-color:yellow; */
      
    }
  
    .telephone02{
  
      margin-left: 10px;
      margin-bottom: 10x;
      color:#cc1100;
  
    }
  
    #phone{
      position: relative;
      left: 270px;
      top:-42px;
      line-height: 40px;
      border-radius: 6px;
     
      width: 430px;
      font-size: 16px;
  
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #postNumber{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow;  */
      
    }
  
    .postNumber01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
   
    
      color:#f5f5eb;
  
      /* background-color:yellow; */
      
    }
  
    .postNumber02{
  
      margin-left: 10px;
      margin-bottom: 10x;
      color:#cc1100;
  
      /* background-color: green; */
  
    }
  
    #postal{
      position: relative;
      left: 270px;
      top:-42px;
      line-height: 40px;
      border-radius: 6px;
      
      width: 215px;
      font-size: 16px;
  
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #searchPost{
      position: relative;
      left: 300px;
      top: -41px;
      line-height: 40px;
      font-size: 16px;
  
    }
  
    #writingAddress{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
      
    }
  
    .writingAddress01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
  
      color:#f5f5eb;
  
  
      /* background-color:yellow; */
      
    }
  
    .writingAddress02{
      margin-left: 10px;
      margin-bottom: 10x;
      color:#cc1100;
  
      /* background-color: green; */
  
    }
  
    #address{
      position: relative;
      left: 270px;
      top:-42px;
      line-height: 40px;
      border-radius: 6px;
    
      width: 430px;
      font-size: 16px;
  
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #keiken{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
      
    }
  
    .keiken01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
  
      
      color:#f5f5eb;
  
      /* background-color:yellow; */
      
    }
  
    .keiken02{
  
      margin-left: 10px;
      margin-bottom: 10x;
      color:#0d2f73;
  
      /* background-color: green; */
  
    }
  
    #product{
      position: relative;
      left: 270px;
      top: -42px;
  
      width: 512px;
      height: 42px;
      
      border-radius: 6px;
      width: 430px;
      font-size: 16px;
      
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    #question{
      width: 100%;
      height: 40px;
      line-height: 35px;
  
      /* background-color: greenyellow; */
      
    }
  
    .question01{
      margin-left: 20px;
      margin-top: 30px;
      width: 125px;
      font-size: 18px;
  
      color:#f5f5eb;
  
      /* background-color:yellow; */
      
    }
  
    .question02{
  
      margin-left: 10px;
      margin-bottom: 10x;
      color:#0d2f73;
  
      /* background-color: green; */
  
    }
  
    #mail_contents{
      position: relative;
      left: 270px;
      top:-42px;
      line-height: 35px;
      border-radius: 6px;
  
      width: 430px;
      font-size: 16px;
  
      color: #555;
      border: 3px solid #89949b;
  
    }
  
    .mailBox{
      height: 160px;
  
    }
  
    #jyouhou{
      width: 100%;
      text-align: center;
      color:#f5f5eb;
  
      /* background-color: red; */
  
    }
  
    #johou{
  
      padding: 0 20px;
  
    }
  
    #form_submit{
      text-align: center;
      margin-top: 32.5px;
      display: block;
  
    }
  
    #form_submit_button{
      background-color: ghostwhite;
      border-radius: 12px;
      border: 1.5px solid #89949b;
      padding: 12px 36px;
      outline: none;
      color: #555;
      cursor: pointer;
      /* transition: 0.25px; */
  
      font-size: 18px;
  
    }
  
    #form_submit_button:hover{
      /* background-color: #6ab8ee;  */
      padding: 14px 40px;
      border-radius: 12px;
      font-weight: 600;
  
      transition: 0.5px;
      transition: width 0.5s;
  
    }
  
  
    /* footer섹션 마지막 꾸미기 */
     
    .full-width-div02 {
      width: 100%;
      background-color: rgb(0,0,0,6);
      margin: auto;
      /* color: #FFFFFF; */
      padding: 10px 0px 10px 0px;
      border-radius: 0px 0px 20px 20px;
      
    }
    .full-width-div02 .inner {
      padding: 35px 0px;
      text-align: center;
  
      /* background-color: yellow; */
    }
  
  }

/* Tablet and Mobile :840px~767px*/
@media  (min-width:840px) and (max-width:3000px) { 

body {
    margin: 0;
    padding: 0;
    height: 1276px;

  }

  .inner {
    width: 70%;
    margin: 0 auto;
  }
  
  /* 헤더 세팅 */
  header {
    width: 100%;
    background-color: #fff;
  }
  header > .inner {
    height: 120px;
    position: relative;
  }
  header a {
    height: 90px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  header .sub-menu {
    position: absolute;
    top: 25px;
    left: 240px;
  }
  header .sub-menu ul {
    list-style: none;
    /* display: flex; */
  }
  /* 
  header .sub-menu ul li {
    margin-right: 50px;
  } */
  
  /* 첫번째 섹션 */
  .full-width-div01 {
    width: 100%;
    background-color: rgb(0,0,0,6);
    margin: auto;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    border-radius: 15px 15px 0px 0px;

  }
  .full-width-div01 .inner {
    padding: 25px 0px;
    text-align: center;

    /* background-color: yellow; */
  }
  
  /* 두번째 섹션 */
  .main-form {

    width: 100%;
    background-image: url(saiyou.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }
  .main-form .inner {
    width: 840px;
    height: 980px;
    background-color: rgb(0,0,0,0.4);
    margin: auto;

  }

  form{
    padding-top: 40px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 40px;

  }

  #namae{
    width: 100%;
    height: 40px;
    line-height: 35px;

    /* background-color: greenyellow; */

  }

  .namae01{
    margin-left: 20px;
    margin-top: 30px;
    width: 125px;
    font-size: 18px;
    font-weight: 500;

    color:#f5f5eb;

    /* background-color:yellow; */

  }

  .namae02{
    margin-left: 10px;
    margin-bottom: 10px;
    color:#cc1100;

    /* background-color: green; */

  }
  
  #name_1{
    position: relative;
    left: 270px;
    top:-42px;
    line-height: 40px;
    border-radius: 6px;

    width: 200px;
    font-size: 16px;
    color: #555;
    border: 3px solid #89949b;

  }

  #name_2{
    position: relative;
    left: 300px;
    top: -42px;
    line-height: 40px;
    border-radius: 6px;

    width: 200px;
    font-size: 16px;
    color: #555;
    border: 3px solid #89949b;
    
    /* background-color: greenyellow; */

  }

  #hurigana{
    width: 100%;
    height: 40px;
    line-height: 35px;

    /* background-color: greenyellow; */

  }

  .hurigana01{
    margin-left: 20px;
    margin-top: 30px;
    width: 125px;
    font-size: 18px;
    font-weight: 500;

    color:#f5f5eb;

    /* background-color:yellow; */

  }

  .hurigana02{

    margin-left: 10px;
    margin-bottom: 10x;
    color:#cc1100;

  }

  #read_1{
    position: relative;
    left: 270px;
    top:-42px;
    line-height: 40px;
    border-radius: 6px;
  
    width: 200px;
    font-size: 16px;
    color: #555;
    border: 3px solid #89949b;

  }

  #read_2{
    position: relative;
    left: 300px;
    top: -42px;
    line-height: 40px;
    border-radius: 6px;

    width: 200px;
    font-size: 16px;
    color: #555;
    border: 3px solid #89949b;

  }

  #seinen{
    width: 100%;
    height: 40px;
    line-height: 35px;

    /* background-color: greenyellow; */

  }

  .seinen01{
    margin-left: 20px;
    margin-top: 30px;
    width: 125px;
    font-size: 18px;
  
    color:#f5f5eb;

  }

  .seinen02{

    margin-left: 10px;
    margin-bottom: 10x;
    color:#cc1100;

    /* background-color: green; */
  }

  .seinen03{
    margin-left: 165px;
    margin-bottom: 10x;
    color: #555;

    /* background-color: green; */
  }

  .seinen04{
    margin-left: 145px;
    margin-bottom: 10x;
    color: #555;

    /* background-color: green; */
  }

  .seinen05{
    margin-left: 145px;
    margin-bottom: 10x;
    color: #555;

    /* background-color: green; */
  }

  #yearSelect{
    position: relative;
    left: 270px;
    top:-40px;

    width: 80px;
    height: 40px;
    border-radius: 6px;

    font-size: 16px;
    color: #555;
    border: 3px solid #89949b;

  }

  #monthSelect{
    position: relative;
    left: 332.5px;
    top:-40px;

    width: 80px;
    height: 40px;
    border-radius: 6px;

    font-size: 16px;
    color: #555;
    border: 3px solid #89949b;

  }

  #daySelect{
    position: relative;
    left: 395px;
    top:-40px;

    width: 80px;
    height: 40px;
    border-radius: 6px;

    font-size: 16px;
    color: #555;
    border: 3px solid #89949b;
    
  }

  #mail{
    width: 100%;
    height: 40px;
    line-height: 35px;

    /* background-color: greenyellow; */
    
  }

  .mail01{
    margin-left: 20px;
    margin-top: 30px;
    width: 125px;
    
    font-size: 18px;
 

    color:#f5f5eb;

  }

  .mail02{

    margin-left: 10px;
    margin-bottom: 10x;
    color:#cc1100;

  }

  #mail_address{
    position: relative;
    left: 270px;
    top:-42px;
    line-height: 40px;
    border-radius: 6px;
    
    width: 430px;
    font-size: 16px;

    color: #555;
    border: 3px solid #89949b;

  }

  #telephone{
    width: 100%;
    height: 40px;
    line-height: 35px;

    /* background-color: greenyellow; */
    
  }

  .telephone01{
    margin-left: 20px;
    margin-top: 30px;
    width: 125px;
    font-size: 18px;
 

    color:#f5f5eb;

    /* background-color:yellow; */
    
  }

  .telephone02{

    margin-left: 10px;
    margin-bottom: 10x;
    color:#cc1100;

  }

  #phone{
    position: relative;
    left: 270px;
    top:-42px;
    line-height: 40px;
    border-radius: 6px;
   
    width: 430px;
    font-size: 16px;

    color: #555;
    border: 3px solid #89949b;

  }

  #postNumber{
    width: 100%;
    height: 40px;
    line-height: 35px;

    /* background-color: greenyellow;  */
    
  }

  .postNumber01{
    margin-left: 20px;
    margin-top: 30px;
    width: 125px;
    font-size: 18px;
 
  
    color:#f5f5eb;

    /* background-color:yellow; */
    
  }

  .postNumber02{

    margin-left: 10px;
    margin-bottom: 10x;
    color:#cc1100;

    /* background-color: green; */

  }

  #postal{
    position: relative;
    left: 270px;
    top:-42px;
    line-height: 40px;
    border-radius: 6px;
    
    width: 215px;
    font-size: 16px;

    color: #555;
    border: 3px solid #89949b;

  }

  #searchPost{
    position: relative;
    left: 300px;
    top: -41px;
    line-height: 40px;
    font-size: 16px;

  }

  #writingAddress{
    width: 100%;
    height: 40px;
    line-height: 35px;

    /* background-color: greenyellow; */
    
  }

  .writingAddress01{
    margin-left: 20px;
    margin-top: 30px;
    width: 125px;
    font-size: 18px;

    color:#f5f5eb;


    /* background-color:yellow; */
    
  }

  .writingAddress02{
    margin-left: 10px;
    margin-bottom: 10x;
    color:#cc1100;

    /* background-color: green; */

  }

  #address{
    position: relative;
    left: 270px;
    top:-42px;
    line-height: 40px;
    border-radius: 6px;
  
    width: 430px;
    font-size: 16px;

    color: #555;
    border: 3px solid #89949b;

  }

  #keiken{
    width: 100%;
    height: 40px;
    line-height: 35px;

    /* background-color: greenyellow; */
    
  }

  .keiken01{
    margin-left: 20px;
    margin-top: 30px;
    width: 125px;
    font-size: 18px;

    
    color:#f5f5eb;

    /* background-color:yellow; */
    
  }

  .keiken02{

    margin-left: 10px;
    margin-bottom: 10x;
    color:#0d2f73;

    /* background-color: green; */

  }

  #product{
    position: relative;
    left: 270px;
    top: -42px;

    width: 512px;
    height: 42px;
    
    border-radius: 6px;
    width: 430px;
    font-size: 16px;
    
    color: #555;
    border: 3px solid #89949b;

  }

  #question{
    width: 100%;
    height: 40px;
    line-height: 35px;

    /* background-color: greenyellow; */
    
  }

  .question01{
    margin-left: 20px;
    margin-top: 30px;
    width: 125px;
    font-size: 18px;

    color:#f5f5eb;

    /* background-color:yellow; */
    
  }

  .question02{

    margin-left: 10px;
    margin-bottom: 10x;
    color:#0d2f73;

    /* background-color: green; */

  }

  #mail_contents{
    position: relative;
    left: 270px;
    top:-42px;
    line-height: 35px;
    border-radius: 6px;

    width: 430px;
    font-size: 16px;

    color: #555;
    border: 3px solid #89949b;

  }

  .mailBox{
    height: 160px;

  }

  #jyouhou{
    width: 100%;
    text-align: center;
    color:#f5f5eb;

    /* background-color: red; */

  }

  #johou{

    padding: 0 20px;

  }

  #form_submit{
    text-align: center;
    margin-top: 32.5px;
    display: block;

  }

  #form_submit_button{
    background-color: ghostwhite;
    border-radius: 12px;
    border: 1.5px solid #89949b;
    padding: 12px 36px;
    outline: none;
    color: #555;
    cursor: pointer;
    /* transition: 0.25px; */

    font-size: 18px;

  }

  #form_submit_button:hover{
    /* background-color: #6ab8ee;  */
    padding: 14px 40px;
    border-radius: 12px;
    font-weight: 600;

    transition: 0.5px;
    transition: width 0.5s;

  }


  /* footer섹션 마지막 꾸미기 */
   
  .full-width-div02 {
    width: 100%;
    background-color: rgb(0,0,0,6);
    margin: auto;
    /* color: #FFFFFF; */
    padding: 10px 0px 10px 0px;
    border-radius: 0px 0px 20px 20px;
    
  }
  .full-width-div02 .inner {
    padding: 35px 0px;
    text-align: center;

    /* background-color: yellow; */
  }

}

    


